*{
    margin:0px;
    padding:0px;
}
/* nav styles */
.menu-container{
    background-color: rgb(109, 108, 108);
    color:#fff;
    padding:20px;
    list-style: none;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.logo-photo{
    width:120px;
}
.menus{
    display:flex;
    
}
.item{
    margin-right: 10px;
    padding-right:10px;

}
.item:hover{
    color: blueviolet;
    cursor: pointer;
}
/* banner style */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url("./images/background.png"), linear-gradient(45deg,#000,#463a3a);
    color:#fff;
}
.banner-img{
    width:300px;
}
.title{
    font-size:60px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin-bottom: 15px;
    margin-top:15px;
}
.btn{
    background-color: tomato;
    padding:10px 25px;
    color:#fff;
    border:none;
    border-radius: 5px;
    cursor: pointer;

}
.btn:hover{
    background-color: aquamarine;
}